* {
  background-color: rgb(50, 153, 238);
}

h2,
h3,
p {
  font-family: 'Lato', 'Arial', sans-serif;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

h2 {
  font-size: 1.8em;
  font-weight: lighter;
}

h3 {
  font-size: 1.4em;
  font-weight: lighter;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.column-one-third {
  flex-basis: calc(100% / 3);
  padding: 25px;
}

.image-frame {
  width: 200px;
  height: 200px;

  /* border: solid red; */
  border-radius: 50%;
  margin: auto;
  background-color: white;
}

img {
  width: 50%;
  background-color: white;
  margin: 50px;

  /* border-radius: 50px; */
}
