.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main-logo {
  width: 50%;
}

h2 {
  font-size: 1rem;
}

.column-50-percent {
  flex-basis: 80%;
}

.row-menu-top {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 50px;
}

.column-ten-percent {
  font-family: 'Avenir', 'Arial', sans-serif;
  font-size: 14px;
  flex-basis: 20%;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 3px;
  padding: 5px;
  color: #a0a0a0;
}

.cu-but {
  color: white;
  background-color: rgb(49, 49, 105);
  border: none;
  border-radius: 3px;
  width: 100px;
  padding: 10px 15px;
  margin-top: 5px;
  margin-right: 50px;
  font-family: 'Avenir', 'Arial', sans-serif;
}

.logo-holder-main {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
  flex-basis: 20%;
}

hr {
  color: #a0a0a0;
  background-color: #a0a0a0;
  margin-bottom: 60px;
}

/* ^ header stuff */


/* v hero image stuff */
.image-wrap {
  width: 900px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(images/implementation/implementation-header.jpg);
  background-size: cover;
  position: relative;
}

.image-box {
  margin: auto;
}

.image-wrap > img {
  width: 100%;
}

.overlay {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.column-picture {
  max-width: 25%;
  max-height: 620px;
  flex-basis: 50;
  position: absolute;
  top: 200px;
  padding-left: 50px;
  color: white;
}

.column-picture > h1 {
  font-weight: lighter;
  font-family: 'Tiempos Headline', 'Arial', sans-serif;
}

.column-picture > p {
  letter-spacing: 1px;
  line-height: 22px;
  font-weight: lighter;
  font-family: 'Avenir', 'Arial', sans-serif;
}


/* v body */
.tiempos {
  font-family: 'Tiempos Headline', 'Arial', sans-serif;
  color: #6e6e6e;
}

.tiempos > h1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-weight: 500;
}

.number-list {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.number-header {
  margin-top: 30px;
}

.number {
  font-family: 'Tiempos Headline', 'Arial', sans-serif;
  color: #6e6e6e;
  font-size: 2rem;
  margin-right: 5px;
}

.list-title {
  font-family: 'Avenir', 'Arial', sans-serif;
  color: #6e6e6e;
  font-size: 1.2rem;
}

.list-text {
  font-family: 'Avenir', 'Arial', sans-serif;
  color: #6e6e6e;
  font-size: 1rem;
  line-height: 1.6;
}

.second-line {
  margin-top: 160px;
  margin-bottom: 20px;
}

/* v footer stuff */

.column-footer-text-50 {
  padding-left: 50px;
}

.column-footer-text-50 > h2 {
  color: #6e6e6e;
  font-family: 'Tiempos Headline', 'Arial', sans-serif;
  font-size: x-large;
  font-weight: lighter;
}

.column-footer-text-50 > h3 {
  color: #6e6e6e;
  font-family: 'Avenir', 'Arial', sans-serif;
  font-size: small;
}

.column-footer-but-50 {
  padding-right: 50px;
  padding-top: 23px;
}

.dk-gray-box {
  background-color: #525351;
  width: 100%;
  display: flex;
  margin-top: 20px;
  font-family: 'Avenir', 'Arial', sans-serif;
  color: white;
}

.logo-white {
  width: 28%;
  margin-bottom: 25px;
}

.column-dk-gray-50 {
  flex-basis: 50%;
  width: 50%;
  padding-top: 80px;
  padding-left: 80px;
  padding-bottom: 100px;
  line-height: 0.75rem;
  font-size: 14px;
}

.column-dk-gray-25 {
  flex-basis: 25%;
  width: 25%;
  padding-top: 80px;
}

.light-gray-bottom {
  background-color: #fafafa;
  width: 100%;
  display: flex;
}

.column-footer-10 {
  flex-basis: 10%;
  font-family: 'Avenir', 'Arial', sans-serif;
  color: #6e6e6e;
  font-size: small;
  padding: 35px 15px;
}

.column-footer-80 {
  flex-basis: 80%;
}

.pt {
  margin-left: 50px;
  width: 120px;
}

.cu {
  width: 120px;
}

.gs-but {
  color: white;
  background-color: rgb(49, 49, 105);
  border-radius: 3px;
  border: none;
  width: 130px;
  height: 30px;
  margin-top: 10px;
  font-family: 'Avenir', 'Arial', sans-serif;
}
