h1 {
  font-family: 'Cinzel', serif;
  /* font-family: 'Monoton', cursive; */
}
 h2 {
  font-family: 'Cinzel', serif;
  /* font-family: 'Monoton', cursive; */
 }

 p {
  font-family: 'Cormorant', serif;
  line-height: 1.6;
 }
